body {direction: rtl !important;}

.header-content .hero-text h1 {letter-spacing: 0;}

.header-content .hero-text {text-align: right;}

.robot-chatting-container {direction: ltr !important;}

.robot-chatting-container .exit-chatting-box {
  right: auto;
  left: 5px;
}

.robot-chatting-container .exit-chatting-box.fa-undo-alt {
  right: auto;
  left: 30px;
}

.robot-chatting-container .chatting-header {direction: rtl;}

.avail {
  padding-left: 60px !important;
  text-align: right;
  font-size: 17px !important;
}

@media (max-width: 600px) {
  .avail {
    padding-right: auto;
    margin-right: auto;
  }
}